/* *{margin: 0;padding: 0;box-sizing: border-box;}
body{

    font-size: 20px;
    letter-spacing: 2px;
}
.movie-cont{
    background-color: aqua;
    margin: 20px auto;
}
.heading{
    color: blueviolet;
} */
